<section class="contact-us" id="contact-us"> 
	<div class="mbox">
		<div class="heading">
			<h3>Have questions? Contact us!</h3>
		</div>
		<div class="contact-data">
			<div class="mail data">
				<img src="https://propawin.com/uploads/public/mail.png">
				<a>partners@propawin.com</a>
			</div>
			<div class="skype data">
				<img src="https://propawin.com/uploads/public/skype.png">
				<a>alexaner.lanberg</a>
			</div>
			<div class="location data">
				<img src="https://propawin.com/uploads/public/location.png">
				<a>HighWeb vebtures N.V.(reg.nr.125776),
				of E-Commerce Park Vredenberg
				Curacao.</a>
			</div>
		</div>
	</div>
</section>