<section class="faq" id="faq">
	<div class="mbox">
		<div class="heading">
			<h2>FREQUENTLY ASKED QUESTIONS</h2>
		</div>
		<div class="main-content">
			<div class="question">
				<div class="question-heading">
					<h3> HOW DO I GET PAID?</h3>
				</div>
				<div class="question-contein">
					<p>Normally we are paying commission to player's account. So, please make sure you have registered player's account too and sent your username to the manager. If you'd like to be paid to your bank account or e-wallet please let your manager know.</p>
				</div>
			</div>
			<div class="question">
				<div class="question-heading">
					<h3> HOW OFTEN ARE THE STATISTICS UPDATED?</h3>
				</div>
				<div class="question-contein">
					<p>Statistics is being updated every 24 hours.</p>
				</div>
			</div>
			<div class="question">
				<div class="question-heading">
					<h3> FOR HOW LONG TIME DO I GET PAID FOR A PLAYER?
					</h3>
				</div>
				<div class="question-contein">
					<p>You get rewarded for a referred player as long as he/she plays at PropaWin. In other words, you benefit a lifetime income.</p>
				</div>
			</div>
			<div class="question">
				<div class="question-heading">
					<h3>CAN I KEEP TRACK OF MY EARNINGS?</h3>
				</div>
				<div class="question-contein">
					<p>Just login to your affiliate account and you'll get an overview of your earnings.</p>
				</div>
			</div>
			<div class="question">
				<div class="question-heading">
					<h3>IS THERE A MINIMUM PAYOUT?</h3>
				</div>
				<div class="question-contein">
					<p>Minimum payout for affiliate earnings is €30</p>
				</div>
			</div>
		</div>
	</div>
</section>