<section class="five-more-reasons" id="five-more-reasons">
	<div class="mbox">
		<div class="main-contein">
			<div class="heading">
			<h2>5 more reasons to join</h2>
			</div>
			<div class="image-wraper">
				<img src="https://propawin.com/uploads/public/4.png">
			</div>
			<div class="items-list">
				<ul>
					<li>More than 1000 Premium games for your players</li>
					<li>Dedicated & experienced Account Managers</li>
					<li>Existing Player Promotion</li>
					<li>Strong conversion and his high retention</li>
					<li>Long-term partnerships</li>
				</ul>
			</div>
			<div class="button">
				<a href="#">
					<img src="https://propawin.com/uploads/public/BUTTON.png">
				</a>
			</div>
		</div>
	</div>
</section>