<!-- HEADER -->
<header>
	<div class="mbox">
		<div class="heading">
			<div class="logo">
				<img src="https://propawin.com/uploads/public/logo.png">
			</div>
			<div class="login">
				<a href="">login to your account</a>
			</div>
		</div>
		<div class="main">
			<div class="join-propawin">
				<div class="heading">propawin partners proper place to earn</div>
				<div class="main-text">
					<p>do you want to make real cash from
					 your website traffic?
					  join propawin partners today and get
					  45% revenue share, advanced
					  marketing tools and professional
					  support. ready to join?</p>
				</div>
				<div class="button">
					<a href="#">
						<img src="https://propawin.com/uploads/public/BUTTON.png">
					</a>
				</div>
			</div>
		</div>
	</div>
</header>
<!-- /HEADER -->

