<section class="marketing-tools" id="marketing-tools"> 
	<div class="mbox">
		<div class="heading">
			<h2>marketing tools</h2>
		</div>
		<div class="main-contein">
			<div class="tool">
				<div class="img-wrapper">
					<img src="https://propawin.com/uploads/public/5.png">
				</div>
				<div class="text-contein">
					<div class="tool-heading">
						<h3>Banners</h3>
					</div>
					<div class="tool-content">
						<p>You will find wide range of banners
						once logged in to your account. If
						you can't find the size you need
						please contact your manager.
						</p>
					</div>
				</div>
			</div>
			<div class="tool">
				<div class="img-wrapper">
					<img src="https://propawin.com/uploads/public/7.png">
				</div>
				<div class="text-contein">
					<div class="tool-heading">
						<h3>newsletters</h3>
					</div>
					<div class="tool-content">
						<p>We will always keep you informed
						about latest news and updates at
						PropaWin. Check your inbox
						regularly</p>
					</div>
				</div>
			</div>
			<div class="tool">
				<div class="img-wrapper">
					<img src="https://propawin.com/uploads/public/6.png">
				</div>
				<div class="text-contein">
					<div class="tool-heading">
						<h3>news</h3>
					</div>
					<div class="tool-content">
						<p>Stay Tuned on whats happening at
						PropaWin Partners. Latest bonuses,
						tournaments, banners e.t.c. can be
						found in the affiliate program.</p>
					</div>
				</div>
			</div>
			<div class="tool">
				<div class="img-wrapper">
					<img src="https://propawin.com/uploads/public/8.png">
				</div>
				<div class="text-contein">
					<div class="tool-heading">
						<h3>
							OTHER PROMO MATERIALS
						</h3>
					</div>
					<div class="tool-content">
						<p>To improve conversion rate we will
						be happy to provide Unique
						Reviews, Landing Pages and other
						promotional materials upon your
						request</p>
					</div>
				</div>
			</div>
		</div>	
		<div class="button">
			<a href="#">
				<img src="https://propawin.com/uploads/public/BUTTON.png">
			</a>
		</div>
	</div>
</section>