<section class="reasons" id="reasons">
	<div class="mbox">
		<div class="heading ctext">
			<h2>why propawin partners?</h2>
		</div>
		<div class="main-contain">
			<div class="reason">
				<img src="https://propawin.com/uploads/public/1.png">
				<div class="reason-heading">
					<h3>high commission</h3>
				</div>
				<div class="text-content">
					<p>Earn 45% commission 
					each month</p>
				</div>
			</div>
			<div class="reason">
				<img src="https://propawin.com/uploads/public/2.png">
				<div class="reason-heading">
					<h3>only best games</h3>
				</div>
				<div class="text-content">
					<p>Games by NetEnt,
					 Microgamming, Playtech
					  and other software
					   provides.</p>
				</div>
			</div>
			<div class="reason">
				<img src="https://propawin.com/uploads/public/3.png">
				<div class="reason-heading">
					<h3>on-time payments</h3>
				</div>
				<div class="text-content">
					<p>We always pay our
					 affiliates on-time.
					  Commission is processed
					   by the 15th every month.</p>
				</div>
			</div>
		</div>	
		<div class="button">
			<a href="#">
				<img src="https://propawin.com/uploads/public/BUTTON.png">
			</a>
		</div>
	</div>
</section>